.profile-pic{
    font-size: 200px;
    color: #d2cfcf;
    border-radius: 84px;
    height: 130px;
    width: 130px;
}

.profile-col{
    text-align: center;
}

.card-header{
    border: 0;
    border-bottom-width: 2px;
    border-style: groove;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
  }

  .cdk-overlay-connected-position-bounding-box {
    z-index: 99999 !important;
  }

  .select-popover md popover-desktop popover-side-bottom hydrated{
    z-index: 99999 !important;
  }

  .docs-list{
    border: 3px;
    border-color: #b0b0b0;
    border-style: groove;
    padding: 4px;
    background-color: #e0e0e0;
    max-width: 500px;
    margin-bottom: 2px;
    text-wrap: wrap;
    display: -webkit-inline-box;
  }

  .formArray {
    border-color: #b0b0b0;
    border-style: double;
    border-width: 1px;
    border-radius: 6px;
    margin-top: 11px;
  }

  .deleteIcon {
    font-size: xx-large;
    padding-left: 4px;
  }

  .editIcon {
    font-size: x-large;
  }