<app-header [title]="title"></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="profile-col">
        <ion-icon *ngIf="!imageAvailable" class="profile-pic" name="person-circle-outline"></ion-icon><br>
        <div *ngIf="imageAvailable" class="profile-pic"></div>
        <a (click)="upload()">Upload pic</a>
      </ion-col>
      <ion-col size="9">

        <!-- Tabs -->
        <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
          <ion-segment-button value="personal">
            <ion-label>
              Personal
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="work">
            <ion-label>
              Work
            </ion-label>
          </ion-segment-button>

          <ion-segment-button value="education">
            <ion-label>
              Education
            </ion-label>
          </ion-segment-button>

          <ion-segment-button value="document">
            <ion-label>
              Document
            </ion-label>
          </ion-segment-button>

          <ion-segment-button value="officialLetter">
            <ion-label>
              Official Letter
            </ion-label>
          </ion-segment-button>
        </ion-segment>

        <!------------------------------------------- Tab/Segment == Personal --------------------------------------------->
        <ion-card *ngIf="segment === 'personal'">
          <ion-card-header class="card-header">
            <ion-card-title>Personal Info
              <span>
                <ion-icon (click)="personalInfoEnable(true)" name="pencil" style="float: right;"></ion-icon><br>
              </span>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="personalInfoForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Name" labelPlacement="stacked" formControlName="name"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Date of Birth" labelPlacement="stacked"
                        formControlName="dateOfBirth"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Gender" labelPlacement="stacked" formControlName="gender"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Blood Group" labelPlacement="stacked" formControlName="bloodGroup"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Marital Status" labelPlacement="stacked"
                        formControlName="maritalStatus"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-item>

                <ion-button [disabled]="personalInfoForm.status === 'DISABLED'" (click)="updatePersonalInfo(personalInfoForm)">Save</ion-button>
                <ion-button [disabled]="personalInfoForm.status === 'DISABLED'" fill="clear"
                  (click)="personalInfoEnable(false)">Cancel</ion-button>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="segment === 'personal'">
          <ion-card-header class="card-header">
            <ion-card-title>Contact Info
              <ion-icon (click)="contactInfoEnable(true)" name="pencil" style="float: right;"></ion-icon><br>
            </ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="contactInfoForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Office EmailId" labelPlacement="stacked"
                        formControlName="officeMailId"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Personal EmailId" labelPlacement="stacked"
                        formControlName="contactMailId"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Phone No." labelPlacement="stacked" formControlName="phoneNumber"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Alternate No." labelPlacement="stacked"
                        formControlName="altPhoneNum"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </form>

            <ion-item>

              <ion-button [disabled]="contactInfoForm.status === 'DISABLED'" type="submit"
                (click)="updatePersonalInfo(contactInfoForm)">Save</ion-button>
              <ion-button fill="clear" [disabled]="contactInfoForm.status === 'DISABLED'"
                (click)="contactInfoEdit = false">Cancel</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <!------------------------------------------- Tab/Segment == Work --------------------------------------------->
        <ion-card *ngIf="segment === 'work'">
          <ion-card-header class="card-header">
            <ion-card-title>Basic Info
              <ion-icon (click)="basicInfoForm.enable()" name="pencil" style="float: right;"></ion-icon><br>
            </ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="basicInfoForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Employee Id" labelPlacement="stacked" formControlName="employeeId"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Date Of Joining" labelPlacement="stacked"
                        formControlName="dateOfJoining"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Work Experience" labelPlacement="stacked"
                        formControlName="workExperience"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Probation Period" labelPlacement="stacked"
                        formControlName="probationPeriod"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Employee Type" labelPlacement="stacked"
                        formControlName="employeeType"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>

            <ion-item>
              <ion-button [disabled]="basicInfoForm.status === 'DISABLED'" type="submit"
                (click)="updatePersonalInfo(basicInfoForm)">Save</ion-button>
              <ion-button fill="clear" [disabled]="basicInfoForm.status === 'DISABLED'"
                (click)="basicInfoForm.disable()">Cancel</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <!-- Work info -->
        <ion-card *ngIf="segment === 'work'">
          <ion-card-header class="card-header">
            <ion-card-title>Work Info
              <ion-icon (click)="workInfoForm.enable()" name="pencil" style="float: right;"></ion-icon><br>
            </ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="workInfoForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Designation" labelPlacement="stacked" formControlName="designation"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Job Title" labelPlacement="stacked" formControlName="jobTitle"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Department" labelPlacement="stacked" formControlName="department"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </form>
            <ion-item>
              <ion-button [disabled]="workInfoForm.status === 'DISABLED'" type="submit"
                (click)="updatePersonalInfo(workInfoForm)">Save</ion-button>
              <ion-button fill="clear" [disabled]="workInfoForm.status === 'DISABLED'"
                (click)="workInfoForm.disable()">Cancel</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <!-- Work history info -->
        <ion-card *ngIf="segment === 'work'">
          <ion-card-header class="card-header">
            <ion-card-title>Work History Info
              <ion-icon (click)="workHistoryInfoForm.enable()" name="pencil" style="float: right;"></ion-icon><br>
            </ion-card-title>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="workHistoryInfoForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Designation" labelPlacement="stacked" formControlName="designation"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="From" labelPlacement="stacked" formControlName="from"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4" class="">
                    <ion-item>
                      <ion-input label="Till" labelPlacement="stacked" formControlName="till"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </form>
            <ion-item>

              <ion-button [disabled]="workHistoryInfoForm.status === 'DISABLED'" type="submit"
                (click)="updatePersonalInfo(workHistoryInfoForm)">Save</ion-button>
              <ion-button fill="clear" [disabled]="workHistoryInfoForm.status === 'DISABLED'"
                (click)="workHistoryInfoForm.disable()">Cancel</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>



        <!-- Education segment -->
        <ion-card *ngIf="segment === 'education'">
          <ion-card-header class="card-header">
            <ion-card-title>Educational Info
              <ion-icon (click)="educationInfoForm.enable()" name="pencil" style="float: right;"></ion-icon><br>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="educationInfoForm">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" class="">
                    <ion-item>
                      <ion-select label="Employee Id" formControlName="employeeId" interface="popover"
                        label-placement="stacked">
                        <ion-select-option value="apple">BSC</ion-select-option>
                        <ion-select-option value="banana">MSC</ion-select-option>
                        <ion-select-option value="orange">BE/BTECH</ion-select-option>
                      </ion-select>

                    </ion-item>
                  </ion-col>

                  <ion-col size="6" class="">
                    <ion-item>

                      <ion-select label="Course Name" formControlName="courseName" interface="popover"
                        label-placement="stacked">
                        <ion-select-option value="apple">BSC</ion-select-option>
                        <ion-select-option value="banana">MSC</ion-select-option>
                        <ion-select-option value="orange">BE/BTECH</ion-select-option>
                      </ion-select>
                    </ion-item>

                  </ion-col>

                  <ion-col size="6">
                    <ion-item>
                      <ion-input label="Course type" labelPlacement="stacked" formControlName="courseType"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4">
                    <ion-item>
                      <ion-input label="Course Start Date" type="date" placeholder="YYYY-MM-DD" labelPlacement="stacked"
                        formControlName="courseStartDate"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4">
                    <ion-item>
                      <ion-input label="Course End Date" type="date" labelPlacement="stacked"
                        formControlName="courseEndDate"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="4">
                    <ion-item>
                      <ion-input label="College Name" labelPlacement="stacked"
                        formControlName="collegeName"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="6" class="">
                    <ion-item>
                      <ion-select label="University Name" formControlName="universityName" interface="popover"
                        label-placement="stacked">
                        <ion-select-option value="apple">BIET</ion-select-option>
                        <ion-select-option value="banana">BIT</ion-select-option>
                        <ion-select-option value="orange">BMS</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </form>
            <ion-item>

              <ion-button [disabled]="educationInfoForm.status === 'DISABLED'" type="submit"
                (click)="updatePersonalInfo(educationInfoForm)">Save</ion-button>
              <ion-button fill="clear" [disabled]="educationInfoForm.status === 'DISABLED'"
                (click)="educationInfoForm.disable()">Cancel</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>


        <!-- Document segment -->
        <ion-card *ngIf="segment === 'document'">
          <ion-card-header class="card-header">
            <ion-card-title>Document Info
              <ion-icon (click)="documentInfoForm.enable()" name="pencil" style="float: right;"></ion-icon><br>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="documentInfoForm">
              <ion-grid>
                <ion-row>

                  <ion-col size="4">
                    <ion-item>
                      <ion-input label="Full Name" labelPlacement="stacked" formControlName="fullName"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-input label="Date of Birth" labelPlacement="stacked"
                        formControlName="dateOfBirth"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4">
                    <ion-item>
                      <ion-input label="age" labelPlacement="stacked" formControlName="age"></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="12" class="">
                    <ion-col size="4">
                      <ion-item>
                        <ion-input label="Permanent Address" labelPlacement="stacked"
                          formControlName="permanentAddress"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-col>
                  <ion-col size="12">
                    <ion-col size="4">
                      <ion-item>
                        <ion-input label="Uploaded Document" labelPlacement="stacked"
                          formControlName="uploadedDocument"></ion-input>
                        <ion-button (click)="addDocs()" [disabled]="documentInfoForm.status === 'DISABLED'">
                          <ion-icon (click)="documentInfoForm.enable()" name="add" style="float: right;"></ion-icon>
                          Add</ion-button>
                      </ion-item>
                    </ion-col>
                  </ion-col>

                  <!-- <ion-col size="12" >
                    <ion-item>
                      <ion-button (click)="addDocs()" [disabled]="documentInfoForm.status === 'DISABLED'">
                        <ion-icon (click)="documentInfoForm.enable()" name="add" style="float: right;"></ion-icon>
                      Add</ion-button>
                    </ion-item>
                  </ion-col> -->

                </ion-row>
              </ion-grid>

              <ion-item>

                <ion-button [disabled]="documentInfoForm.status === 'DISABLED'" type="submit"
                  (click)="updatedocumentInfo()">Save</ion-button>
                <ion-button fill="clear" [disabled]="documentInfoForm.status === 'DISABLED'"
                  (click)="documentInfoForm.disable()">Cancel</ion-button>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>

      <!-- </ion-col> -->


      <!-- official letter segment -->
      <ion-card *ngIf="segment === 'officialLetter'">
        <ion-card-header class="card-header">
          <ion-card-title>Upload Document
            <!-- <ion-icon (click)="documentInfoForm.enable()" name="pencil" style="float: right;"></ion-icon><br> -->
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <!-- <div *ngFor="let docsAvailabel in userData.officialDocuments"> -->
            <div *ngIf="userData?.officialDocuments && userData?.officialDocuments.length">
              <div class="docs-list" *ngFor="let docsAvailabel of userData.officialDocuments">
                {{docsAvailabel.filePath}}/{{docsAvailabel.folderName}}/{{docsAvailabel.fileName}}
              </div>
            </div>
          </ion-item>
          <app-upload-files></app-upload-files>
        </ion-card-content>
      </ion-card>

    </ion-col>


    </ion-row>
  </ion-grid>




</ion-content>