app-upload-doc {
 h2{
    padding-left: 8px;
 }   


.upload-doc-grid{
    padding: 4px;
    color: black;
}

.upload-doc-grid select{
    width: -webkit-fill-available;
    height: 30px;
}

ion-row{
    padding-bottom: 7px;
}

.choose-Btn{
    font-size: large;
    padding-top: 11px;
}
}