card-view {

    .card {
      background-color: white;
      width: 87%;
      border-radius: 7px;
      padding: 9px 0px 9px 12px;
      margin: 13px;
      margin-left: 0px;
      box-shadow: 3px 3px #d4cfcf;
      min-height: 66px;
    }

    span {
      padding: 4px;
    }
    .card-title{
      // color: #a49e9e;
      color: #8F9BB3;
      font-size: small;
    }

    // .card-description{

    // }
}