app-card {

    .card {
      background-color: white;
      width: 87%;
      border-radius: 7px;
      padding: 9px 0px 9px 12px;
      margin: 13px;
      box-shadow: 3px 4px #d4cfcf;
    }

    span {
      padding: 4px;
    }
    .card-title{
      color: #a49e9e;
      font-size: small;
    }

    // .card-description{

    // }
}