app-fp {
    padding-top: 6%;
    background-color: rgb(242 242 242);
    height: auto;

   .hrms_icon{
    width: 100px;
    margin-left: 18%;
  }
  ion-icon[name="eye"], ion-icon[name="eye-off"] {
    font-size: 24px;
    color: #777;
    cursor: pointer;
  }

  .login{
    min-width: 36%;
    max-width: 500px;
    left: 30%;
    padding: 0 auto;
    border: 1px;
    border-radius: 20px;
    background-color: white;
    padding: 40px;
    margin: auto;
    margin-top: 0;
  }

  .button-mint, button{
    background-color: var(--ion-color-mint) !important;
  }

 .forgot-password{
  float: right;
 }

  @media screen and (max-width: 992px) {
    .hrms_icon{
      width: 100px;
      margin: auto;
      margin-bottom: 0px;
      margin-top: 50px;
      padding-bottom: 11px;
    }
  }

  .invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }

  .eye-icon{
    position: absolute;
    right: 0;
  }

  .copy-right{
    text-align: center;
    padding: 8px;
    color: #7f7c7c;
  }

  .title {
    font-weight: 600;
    font-size: 27px;
  }
}